footer{
    width             : 100%;
    display           : flex;
    color             : #fff;
    padding-bottom    : 20px;
    small{
        width              : 100%;
        display            : flex;
        justify-content    : center;
        font-size          : 0.7rem;
    }
    @media (max-width: 720px) {
        padding-bottom     : 150px;
    }
}