.audio-wrap{
    width          : 100%;
    height         : 70px;
    padding        : 5px;
    display        : flex;
    flex-direction : column;
    background     : #191d27;
    position       : fixed;
    z-index        : 10;
    right          : 0px;
    bottom         : 0px;
    .audio-container{
        width            : 100%;
        height           : 100%;
        display          : flex;
        justify-content  : space-between;
    }
    .audio-col{
        width           : 100%;
        max-width       : 260px;
        display         : inline-flex;
        margin-right    : 10px;
        >ul{
            width               : 100%;
            display             : flex;
            align-items         : center;
            >li{
                display            : inline-flex;
                margin-right       : 15px;
                position           : relative;
                &:last-child{
                    margin-right: 0px;
                }
                button{
                    width             : 40px;
                    height            : 40px;
                    justify-content   : center;
                }
            }
        }
        &:nth-child(2){
            max-width       : none;
        }
        &:last-child{
            margin-right    : 0px;
        }
    }

    .now-play-cover{
        width              : 100%;
        display            : flex;
        position           : relative;
        .induction-zone{
            width       : 100%;
            height      : 100%;
            position    : absolute;
            z-index     : 2;
            top         : 0px;
            left        : 0px;
            visibility  : hidden;
        }
        .img{
            width            : 60px;
            min-width        : 60px;
            height           : 60px;
            display          : inline-flex;
            align-items      : center;
            margin-right     : 10px;
            img{
                width             : 100%;
                display           : block;
            }
            &.null{
                border: 1px dashed #666;
                border-radius: 4px;
            }
        }
        figcaption{
            display          : inline-flex;
            flex-direction   : column;
            justify-content  : center;
            text-overflow    : ellipsis;
            white-space      : nowrap;
            overflow         : hidden;
            h3{
                width            : 100%;
                margin-bottom    : 2px;
                white-space      : nowrap;
                overflow         : hidden;
                text-overflow    : ellipsis;
                font-size        : 1rem;
                color            : #fff;
                a{
                    color            : #fff;
                }
            }
            h4{
                font-size        : 0.9rem;
                a{
                    color            : #51535f;
                }
            }
        }
    }

    .control-ul{
        justify-content     : center;
        >li{
            button{
                border-radius     : 100px;
                position          : relative;
                .on{
                    width            : 13px;
                    height           : 13px;
                    display          : flex;
                    align-items      : center;
                    justify-content  : center;
                    font-size        : 0.4rem;
                    background       : #fff;
                    position         : absolute;
                    bottom           : 20%;
                    right            : 20%;
                    color            : #000;
                    border-radius    : 100px;
                }
                &.loop{
                    &.status0{
                        opacity: 0.7;
                    }
                    &.status1,&.status2{
                        color: #f36;
                    }
                }
            }
            &:nth-child(3){
                button{
                    width         : 50px;
                    height        : 50px;
                    padding-left  : 3px;
                    border        : 1px solid #fff;
                    font-size     : 1.1rem;
                }
            }
            
        }
    }

    .audioTool-ul{
        justify-content: flex-end;
        >li{

        }
    }

    @media (max-width: 420px) {
        max-width      : 180px;
        height         : 55px;
        flex-direction : column;
        bottom         : 70px;
        right          : 10px;
        transition     : bottom .1s, height .2s;
        .audioTool{
            display: none;
        }
        .now-play-cover{
            max-width          : 170px;
            .induction-zone{
                visibility       : inherit;
            }
            .img{
                width            : 45px;
                min-width        : 45px;
                height           : 45px;
                margin-right     : 10px;
                img{
                    width             : 100%;
                    display           : block;
                }
            }
        }
        .audio-col{
            margin-right: 5px;
            >ul{
                >li{
                    margin-right: 5px;
                    button{
                        width         : 35px;
                        height        : 35px;
                        min-height    : 35px;
                    }
                }
            }
            &.audio-control{
                max-width: 130px;
                display: none;
            }
        }

        .control-ul{
            >li{
                &:nth-child(3){
                    button{
                        width         : 35px;
                        height        : 35px;
                        padding-left  : 3px;
                        font-size     : 0.8rem;
                    }
                }
            }
        }

        &.true{
            max-width          : 100%;
            height             : 100%;
            bottom             : 0px;
            right              : 0px;
            .audio-container{
                flex-wrap         : wrap;
                align-content     : center;
            }
            .audio-col{
                width             : 100%;
                max-width         : none;
                margin-right      : 0px;
                margin-bottom     : 30px;
                >ul{
                    >li{
                        margin-right: 15px;
                        button{
                            width         : 50px;
                            height        : 50px;
                            min-height    : 50px;
                            font-size     : 1rem;
                        }
                        &:last-child{
                            margin-right: 0px;
                        }
                    }
                }
                &:last-child{
                    margin-bottom       : 0px;
                }
            }
            .now-play-cover{
                max-width         : none;
                flex-direction    : column;
                align-items       : center;
                .induction-zone{
                    visibility          : hidden;
                }
                .img{
                    width               : 60%;
                    max-width           : 220px;
                    height              : auto;
                    margin-right        : 0px;
                    margin-bottom       : 20px;
                }
                figcaption{
                    width: 100%;
                    h3, h4{
                        text-align: center;
                    }
                    h3{
                        margin-bottom    : 2px;
                        font-size        : 1.3rem;
                    }
                    h4{
                        font-size        : 1rem;
                    }
                }
            }
            .audio-control{
                .control-ul{
                    >li{
                        &:nth-child(3){
                            button{
                                width         : 55px;
                                height        : 55px;
                                padding-left  : 3px;
                                padding-top   : 1px;
                                font-size     : 1.2rem;
                            }
                        }
                    }
                }
            }
            .audioTool{
                display: flex;
                .audioTool-ul{
                    justify-content: center;
                }
            }
        }
    }
}

.playlist-wrap{
    width            : 420px;
    height           : 300px;
    display          : flex;
    flex-wrap        : wrap;
    align-items      : flex-start;
    background       : rgba(0,0,0,.9);
    position         : absolute;
    z-index          : 2;
    bottom           : 65px;
    right            : 0px;
    visibility       : hidden;
    .FreeScrollbar-container{
        padding-right    : 17px !important;
        padding-bottom   : 17px !important;
    }
    .FreeScrollbar-vertical-track {
        width            : 5px !important;
        padding          : 0px 2px;
        border-left      : none !important;
        background       : #000 !important;
        visibility       : hidden;
        z-index          : 3;
        .FreeScrollbar-vertical-handler {
            background             : #f36 !important;
        }
    }
    &.true{
        visibility       : initial;
    }
    &:hover{
        .FreeScrollbar-vertical-track {
            visibility       : initial;
        }
    }
}

.timeline-wrap{
    width            : 100%;
    height           : 15px;
    display          : flex;
    align-items      : flex-end;
    position         : absolute;
    z-index          : 2;
    top              : -15px;
    left             : 0px;
    .timeLine{
        width            : 100%;
        height           : 5px;
        background       : rgba(0,0,0,.5);
        transition       : height .1s;
        .timeLine-schedule{
            width: 20%;
            height: 100%;
            background: #f36;
        }
    }
    &:hover{
        .timeLine{
            height           : 100%;
        }
    }
}